<div class="container">
    <div id="room-container" class="row">
        <section class="room">
            <div class="row unstretch">
                <h2 ng-hide="insideRoom">Join {{rid}} to see what people are talking about!</h2>
                <h2 class="text-left pull-left col-sm-6" ng-show="insideRoom">Conversation: {{rid}}</h2>        
                <div class="push-right user-list col-sm-6" id="userlist" ng-show="insideRoom">
                        <b>Participants include </b><div ng-repeat="roomUsername in roomUsernames" class="inline-names">{{roomUsername}}</div>
                </div>
            </div>
            <div id="gate" ng-hide="insideRoom">
                <form>
                    <div class="form-group col-sm-6 col-sm-offset-3">
                        <div class="col-xs-2 pull-right">
                            <button class="btn btn-circle btn-sm-circle" ng-click="attemptEnterRoom()">
                                <i class="fa fa-angle-double-right"></i>
                            </button>
                        </div>
                        <div class="col-xs-8 pull-right">
                            <input autofocus class="form-control" ng-model="username" placeholder="Enter your name..."/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row unstretch" ng-show="insideRoom">
                <input class="form-control input-disabled" ng-model="currentText" disabled>
                <div class="container chat">
                    <div id="conversation">
                        <div ng-repeat="statement in transcript"><span class="timestamp">{{statement.time | date:'M/dd/yyyy @ h:mm a'}}</span>  <b>{{statement.name}}:</b> {{statement.text}}</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>